.xBrowser_form textarea, .CodeMirror {
	width: 350px;
	height: 400px;
}
#xbrowser-css-overrides .CodeMirror {
	width: 390px;
}
.xBrowser_form legend,
.equalize_container_height legend,
.header_footer_script legend {
    font-weight: 600;
    margin-top: 15px;
    background-color: #d54e21;
    padding: 5px 10px;
    box-shadow: #cccccc 0 0 5px;
    -webkit-box-shadow: #cccccc 0 0 5px;
    -moz-box-shadow: #cccccc 0 0 5px;
    color: #000000;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0px;
    border-top: 3px solid #3D3D3D;
    border-left: 3px solid #3D3D3D;
    border-right: 3px solid #3D3D3D;
    color: #FFFFFF;
}
.xb_search_btn, .xb_expand_collapse_btn {
	background-color: #fff8bf;
    border: 1px solid #aaaaaa;
    padding: 0px 5px;
    border-radius: 3px;
    float: right;
    text-decoration: none;
    margin-top: 5px;
    color: #000000;
    font-style: italic;
    font-size: 12px;
	font-weight: 600;
}
.xb_search_btn:hover, .xb_expand_collapse_btn:hover {
	color: #555555;
}
.xb_search_btn:focus, .xb_expand_collapse_btn:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}
.xb_search_btn {
	margin-top: -25px;
	background-color: #FFEB3B;
}
.xBrowser_form_show_all {
    background-color: #ffffff;
    padding: 10px 20px 0 20px;
	border-left: 3px solid #FFBA00;
}
.save-info p, .save-info-settings p {
	font-weight: 600;
}
.show-hide {
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-left: 5px solid #00a0d2;
	padding: 8px;
	font-weight: 600;
	border-radius: 0 3px 3px 0;
}
.form-wrapper {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-left: 3px solid #00a0d2;
	border-radius: 0 3px 3px 0;
	padding: 8px;
	margin: 10px 0;
}
.form-wrapper span {
	display: block;
}
.error_info_writable {
	background-color: #fff000;
	padding: 0 5px;
}
#autoUpdate, #autoUpdate_mobile, #autoUpdate-x {
	display: none;
}
fieldset {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.submit-btn {
	background: #00a0d2;
	border-color: #0073aa;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	color: #ffffff;
	text-decoration: none;
	border-radius: 4px;
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	cursor: pointer;
}
.submit-btn:hover {
	background: #0091cd;
	border-color: #0073aa;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
	color: #ffffff;
}
.info-submenu-mobile {
	font-style: italic;
	font-weight: normal;
}
.info-submenu-mobile span {
	color: #ff0000;
	font-weight: bold;
}
.change_log {
	font-size: 11px;
	font-weight: bold;
}
.change_log a {
    background: #00a0d2;
    border-color: #0073aa;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    color: #fff;
    text-decoration: none;
    padding: 1px 5px;
    border-radius: 3px;
    position: relative;
    top: -4px;
	border: 1px solid rgba(255, 255, 255, 0);
}
.change_log a:hover {
    background: #0091cd;
    border-color: #0073aa;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: #fff;
}
.collapsed_label {
    font-weight: normal;
    background-color: #A6FCFF;
    padding: 0 5px;
	margin-left: 5px;
}
#mopbile_menu_id {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: normal;
    background-color: #333333;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 3px;
}
#mopbile_menu_id:hover {
	background-color: #000000;
}
#collapsed_label_show {
	display: none;
}
#collapsed_label_show img {
	max-width: 100%;
}
#collapsed_label_show input {
	font-weight: 600;
    border: 1px solid #2DA2D4!important;
    background-color: #F1F1F1!important;
	color: #d54e21!important;
}
.manual_pos_bg {
	background-color: #23282d;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 5px;
	font-size: 12px;
}
.manual_pos {
    width: 40px;
    padding: 0;
    text-align: center;
    border-radius: 15px;
}
.guide_wrapper {
	border: 2px solid #00ACBB;
    padding: 0 15px;
    background-color: #C6FFFC;
    margin-bottom: 10px;
}
.guide_mobile_nav {
	list-style-type: decimal;
	margin-left: 20px;
}
.guide_mobile_nav li {
	font-weight: normal;
}
.right_submit:before {
	content: "test";
}
.right_submit {
	position: fixed;
	right: 0;
	top: 30%;
	padding: 0;
    margin: 0;
	display: none;
	margin-right: -150px;
    transition: all 0.3s;
	z-index: 9999999999;
}
.right_submit:hover {
    margin-right: 0;
}
.debug_field {
	font-weight: normal;
    font-style: italic;
    margin-left: 5px;
    background-color: #c7f9ff;
    padding: 0 5px;
}
.equalize_note,
.cmxb_field_note {
	font-weight: normal;
    font-style: italic;
    background-color: #eeeeee;
    padding: 2px 5px;
}
.sp_equalize_note {
    background-color: #f9ffc1;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 2px 5px;
	font-weight: normal;
    font-style: italic;
}
.equalize_note_important {
    background-color: #3a5849;
    padding: 0 5px;
    color: #fff000;
}
.equalize_note_important span {
	color: #ffffff;
}
.equalize_input {
    border: 1px solid #FFA500!important;
    border-radius: 3px;
    max-width: 20%;
    width: 100%;
    margin-bottom: 10px;
    color: #d54e21!important;
}
.xbrowser_field {
	background-color: #d54e21;
    padding: 0 5px;
    color: #ffffff;
    border-radius: 3px;
}
.xb_desktop_field,
.cmxb_field_label {
	background-color: #006799;
    padding: 0 5px;
    color: #ffffff;
    border-radius: 3px;
}
.xb_mobile_field {
	background-color: #333333;
    padding: 0 5px;
    color: #ffffff;
    border-radius: 3px;
}
.collapsed_field {
	background-color: #d54e21;
    padding: 0 5px;
    color: #ffffff;
    border-radius: 3px;
}
#checkbox-x,
#checkbox1,
#checkbox2 {
	display: none;
	background-color: #eeeeee!important;
    border-radius: 3px!important;
}
#checkbox-cache {
	background-color: #eeeeee!important;
    border-radius: 3px!important;
}
.xb_settings_input {
	background-color: #eeeeee!important;
    border-radius: 3px!important;
}
#checkbox-cache:checked:before,
#checkbox-x:checked:before,
#checkbox1:checked:before,
#checkbox2:checked:before,
.xb_settings_input:checked:before {
	color: #d54e21!important;
}
#checkbox-cache:focus,
#checkbox-x:focus,
#checkbox1:focus,
#checkbox2:focus,
.xb_settings_input:focus {
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	-ms-box-shadow: none!important;
	border-color: #b4b9be!important;
}
.cmxb_screen_trigger {
    width: 70px;
    font-weight: 600;
    color: #FF5722!important;
    text-align: center;
    border-radius: 3px;
	border-color: #aaaaaa!important;
}
.xb_em_note {
	background-color: #B6FF89;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 600;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background: #000000;
}
.iframe_changelog iframe {
    width: 100%;
    min-height: 200px;
    background-color: #ffffff;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border: 1px solid #bbbbbb;
}
#changelog-label {
    background-color: #32373c;
    margin: 0;
    display: inline-block;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 3px 3px 0 0;
}
#save-popup-info {
    background-color: #ffffff;
    border-radius: 30px;
    position: fixed;
    color: #000000;
    border: 5px solid #46b450;
    padding: 5px 30px;
    font-size: 16px;
    font-style: italic;
	font-weight: 600;
    box-shadow: #ffffff 0 0 150px;
    -webkit-box-shadow: #ffffff 0 0 150px;
    -moz-box-shadow: #ffffff 0 0 150px;
    -ms-box-shadow: #ffffff 0 0 150px;
    z-index: 999999999999999;
}
.equalize_field {
	border-left: 3px solid #FFA500;
}
.equalize_field fieldset {
	float: none;
	margin-bottom: 10px;
}
.equalize_field fieldset textarea {
    height: 50px;
	max-width: 430px;
}
.CodeMirror {
	border-radius: 0 3px 3px 0;
}
.equalize_field .CodeMirror {
	border-top: 5px solid #673AB7;
    height: 50px;
    width: 100%;
}
.equalize_field fieldset legend {
	background-color: #673AB7;
}
#special_equalize {
	background-color: #ffffff;
    max-width: 700px;
    border: 1px solid #cccccc;
    border-radius: 3px;
	display: none;
}
#special_equalize th {
	text-align: left;
}
#special_equalize_entries {
    margin-top: 5px;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
#special_equalize_entries th {
    text-align: left;
    background-color: #D54E21;
    padding: 5px 10px;
    border: none;
    color: #ffffff;
}
#special_equalize_entries td {
	padding: 5px;
}
#special_equalize_entries tr:nth-child(odd) td {
	background-color: #eeeeee;
}
#special_equalize_entries tr:nth-child(even) td {
	background-color: #d4faff;
}
#se_html_contents {
	display: none;
}
#ech_button {
	margin: 10px 0 5px 0!important;
	font-weight: normal;
}
#add_special_equalize {
	background: #009688;
	color: #ffffff;
	border-radius: 3px;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: normal;
	display: inline-block;
	margin-top: 5px!important;
	border: 1px solid #777777;
}
#add_special_equalize:hover {
	background: #018477;
}
.update_se {
	font-weight: normal;
}
.ech_del {
	background: #333333;
	color: #ffffff;
	border-radius: 3px;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: normal;
	margin: 0 0 0 5px;
}
.ech_del:hover {
	background: #E80000;
}
#main-xbrowser-page h2, #xb-qualize-settings-page h2, #xb-special-equalize-settings h2, #x-browser-header-footer-settings h2, #x-browser-global-jquery-lib-settings h2 #x-browser-settings h2 {
	padding-top: 0;
}
#main-xbrowser-page, #xbrowser-css-overrides, #xb-qualize-settings-page, #xb-special-equalize-settings, #x-browser-header-footer-settings, #x-browser-global-jquery-lib-settings, #x-browser-settings {
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    box-shadow: #cccccc 0 0 20px;
    margin-top: 10px;
}
#main-xbrowser-page {
	border-top: 10px solid #00a0d2;
}
#xbrowser-css-overrides {
	border-top: 10px solid #009688;
	margin-top: 20px;
	display: inline-block;
    width: 98.5%;
}
#xb-qualize-settings-page {
	border-top: 10px solid #673AB7;
}
#xb-special-equalize-settings {
	border-top: 10px solid #009688;
	margin-top: 20px;
}
#x-browser-header-footer-settings {
	border-top: 10px solid #795548;
}
#x-browser-global-jquery-lib-settings {
	border-top: 10px solid #00BCD4;
}
#x-browser-settings {
	border-top: 10px solid #009688;
}
.xbrowser_head_title {
    margin: 0 0 10px 0;
    font-size: 16px;
	padding: 0;
}
.xbrowser_settings_wrapper {
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid #cccccc;
}
#x-browser-header-footer-settings .footer_script legend {
	background-color: #006799;
}
.header_script legend, .footer_script legend {
	font-size: 15px;
}
.header_script legend span, .footer_script legend span {
	font-size: 13px;
}
.header_footer_script .CodeMirror {
	width: 500px;
}
.notice_upgrade {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left: 3px solid #FF9800;
    padding: 10px;
	margin-top: 0;
}
.override_cache {
    font-weight: 600;
    display: inline-block;
    background-color: #fff8bf;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 0;
}
.override_cache span {
	font-weight: normal;
	font-style: italic;
}
.override_cache_info {
	color: #ff0000;
	font-weight: bold!important;
}
.jquery_lib_form span {
    font-weight: 600;
    color: #ff0000;
    margin-left: 7px;
	font-style: italic;
}
.jquery_lib_input {
	margin: 3px 5px 5px 0!important;
	border: 1px solid #F44336!important;
}
.jquery_lib_input:checked:before {
	background-color: #F44336!important;
}
.jquery_lib_note {
    background-color: #fcffca;
    display: inline-block;
    padding: 2px 5px;
    margin: 5px 0;
    font-style: italic;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.jquery_lib_note b {
	font-style: normal;
	font-weight: bold;
}
#xb_ajax_overlay_save, #xb_ajax_overlay_update, #xb_ajax_overlay_delete {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 99999999999999999;
	display: none;
}
#xb_ajax_overlay_save p, #xb_ajax_overlay_update p, #xb_ajax_overlay_delete p {
	color: #ffffff;
	text-shadow: #000000 1px 1px 3px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
	margin: 0;
    padding: 0;
    position: relative;
    background-color: rgba(0,0,0,0.7);
    width: 150px;
    margin: auto;
    padding: 5px 10px;
    border-radius: 30px;
}
#css_media_add_btn {
    background-color: #009688;
    color: #ffffff;
    border-color: #777777;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    font-size: 13px;
    padding: 0 10px 1px;
    text-decoration: none;
    line-height: 26px;
    height: 28px;
    margin: 0;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #777777;
	text-shadow: #00756a 1px 1px 1px;
	display: block;
}
#css_media_add_btn:hover {
    background-color: #02ab9b;
}
#css_media_add_form {
	background-color: #ffffff;
    padding: 10px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #cccccc;
	 border-left: 5px solid #009688;
    margin-top: 15px;
    display: none;
}
#css_media_add_form label,
#media_query_entry_wrapper table label {
    background-color: #f5f5f5;
    padding: 5px 5px 5px 10px;
    border: 1px solid #eeeeee;
    font-weight: 600;
    cursor: default;
    float: right;
}
#css_media_add_form table tr td {
	padding: 5px;
}
.css_browser_user_agent, .css_media_query, #css_browser_user_agent, #css_media_query {
	font-style: italic;
    font-weight: 600;
    border: 1px solid #cccccc;
	border-radius: 3px;
}
.field_dimensions {
    background-color: #fff8bf;
    border-radius: 30px;
    border: 1px solid #bbbbbb;
	font-style: italic;
	padding: 5px 10px!important;
}
.field_dimensions input {
    width: 80px;
    text-align: center;
    color: #F44336;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
.edit_media_query {
    background-color: #607D8B;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ffffff;
    border: 1px solid #555555;
    cursor: pointer;
}
.edit_media_query:hover {
	background-color: #FFC107;
    border: 1px solid #999999;
    color: #000000;
}
.update_cancel_media_query {
	display: none;
}
.cancel_media_query {
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #333333;
    border: 1px solid #aaaaaa;
	cursor: pointer;
}
.cancel_media_query:hover {
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
	color: #000000;
}
.delete_media_query, #cancel_media_query {
    background-color: #333333;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ffffff;
    border: 1px solid #000000;
	cursor: pointer;
}
.delete_media_query:hover, #cancel_media_query:hover {
    background-color: #F44336;
    border: 1px solid #F44336;
}
.delete_media_query {
    padding: 1px 5px;
    position: relative;
    margin-top: 12px;
    font-size: 10px;
    left: 56.5%;
    top: 6px;
}
#css_media_query_info_error, .css_media_query_info_error {
    background-color: #ffecea;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ffb2ad;
    color: #ff594d;
	font-weight: 600;
    font-style: italic;
	margin-top: 0;
}
.css_media_query_info_success, #css_media_query_info_success {
    background-color: #f5fff5;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #7cc77f;
    color: #008a06;
    font-weight: 600;
    font-style: italic;
	margin-top: 0;
}
.css_code_entry {
	display: none;
}
select.css_browser_user_agent:disabled,
select.css_media_query:disabled {
    border-color: #aaaaaa;
    color: #d54e21;
    background-color: #fff8bf;
    font-weight: 600;
}
#media_query_entry_wrapper .media_query_div_entry {
	background-color: #ffffff;
	padding: 10px;
	margin: 10px 1.5% 10px 0;
	border-radius: 3px;
	border: 1px solid #cccccc;
	float: left;
}
.media_query_hidden_input {
	display: none;
}
.info_dimensions_default {
    background-color: #fff8bf;
    margin: 0;
    padding: 4px 7px;
    border: 1px solid #aaaaaa;
    font-weight: 600;
    font-style: italic;
    border-radius: 2px;
}
.info_dimensions_default span {
    color: #d54e21;
    font-weight: 700;
    font-style: normal;
}
.css_media_query_info_error, .css_media_query_info_success {
	display: none;
}
.xb_head_title_wrapper {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}
.xb_head_title_wrapper p {
	margin: 0;
	font-style: italic;
}
.xb_version_txt {
    color: #F44336;
    font-size: 20px;
    font-weight: 600;
}
.css_media_query_notice_warning {
    margin-top: 20px;
    background-color: #fffbd9;
    border: 1px solid #aaaaaa;
    padding: 10px;
	border-radius: 3px;
}
.css_media_query_notice_warning p {
    padding: 0;
    margin: 0;
	font-style: italic;
}
#ajax_load_img {
	display: none;
    position: relative;
    top: 3px;
    margin-left: 7px;
}
.xb_reactivate_error {
	font-style: italic;
    margin-left: 7px;
    background-color: #fff8bf;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 2px 5px;
}
.xb_reactivate_error span {
	color: #ff0000;
	font-weight: 600;
}
#pop_up_del_box {
    position: fixed;
	top: 0;
    z-index: 999999999999999;
    background-color: rgba(0,0,0,0.1);
    height: 100%;
    width: 100%;
}
.pop_del_wrapper {
    position: relative;
    top: 35%;
    max-width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ff6868;
    border-top: 5px solid #ff6868;
    border-radius: 0 0 3px 3px;
    padding: 20px;
    text-align: center;
}
#pop_up_del_box .pop_del_wrapper h5 {
    margin: 0;
    font-size: 14px;
}
#pop_up_del_box .pop_del_wrapper p {
    margin: 10px 0 15px 0;
    padding: 0;
    font-style: italic;
}
#pop_up_del_box .pop_del_wrapper .cancel_delete {
	padding: 4px;
    position: relative;
    top: 1px;
	cursor: pointer;
}
#pop_up_del_box .pop_del_wrapper button {
	margin: 0 5px;
}
.cm-searching {
	background: #ffffff;
	color: #000000!important;
}
.CodeMirror-search-match {
	background: #ff0000;
	border-top: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
}
.media_query_type {
	display: none;
}
.xb_css_media_entry_search_wrapper {
	margin-top: 15px;
}
.xb_css_media_entry_search_wrapper a {
    margin-top: 0;
    top: -5px;
    position: relative;
}
#css_media_query_add_btn:disabled {
	background-color: #607D8B!important;
    color: #ffffff!important;
    border: 1px solid #303f46!important;
    font-style: italic;
    opacity: 1;
    font-weight: normal;
    text-shadow: none!important;
}